:root {
    --title-color:#2E2F42;
    --logo-color: #4D5AE5;
    --white-color: #FFFFFF;
    --text-color: #F4F4FD;
    --background-color: #404BBF;
    --adress-color: #434455;
    --btn-color: #e7e9fc;
    --customers-color: #8E8F99;
    --footer-icon: #31D0AA;
    --modal-color: #FCFCFC;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--adress-color);
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* Header */
.header {
    border-bottom: 1px solid var(--btn-color);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-item:last-child {
    margin-right: 0;
}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header-logo {
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    padding: 24px 0;
}
.header-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}
.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current:after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--background-color);
    border-radius: 2px;
}
.header-list{
    display: flex;
    gap: 40px;
}
/* Navigation */
.header-link:hover, .header-link:focus, .header-link.current {
    color:var(--background-color);
}
.header-address-list {
    display: flex;
    gap: 40px;
}
.header-address{
    display: flex;
    margin-left: auto;
    font-style: normal;
    
}
.header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--adress-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover, .header-address-link:focus {
    color: var(--background-color); 
}
/* Hero */
.hero {
    max-width: 1440px;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
    background: var(--title-color);
    padding-top: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-text {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    text-align: center;
    margin: 0 auto;
}
.studio-btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background-color: var(--logo-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-btn:hover, .studio-btn:focus {
    background: var(--background-color);
}
/* Criteria */
.criteria {
    padding: 120px 0;
}
.criteria-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.criteria-item {
    width: calc((100% - 72px) / 4);
}
.criteria-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--text-color);
    border-radius: 4px;
    margin-bottom: 8px;
}
.criteria-text-top {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.criteria-text-bottom {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Works */
.works {
    padding-bottom: 120px;
}
.container-workers {
    padding: 32px 16px;
}
.works-text {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}
.works-list {
    display: flex;
    gap: 24px;
}
.works-list-item {
    width: calc((100%-48px)/3);
}
/* Our Team */
.ourteam {
    background: var(--text-color);
    padding: 120px 0;
}
.ourteam-text-top {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}
.ourteam-list {
    display: flex;
    gap: 24px;
}
.ourteam-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-text {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.ourteam-text-bottom {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.ourteam-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.ourteam-soc-item {
    width: 40px;
    height: 40px;
}
.ourteam-soc-icon {
    fill: var(--text-color);
}
.ourteam-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ourteam-soc-link:hover, .ourteam-soc-link:focus {
    background-color: var(--background-color);
}
/* Customers */
.customers {
    padding: 120px 0;
}
.customers-text {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color);
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--customers-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover, .customers-link:focus {
    border-color: var(--background-color);
    color: var(--background-color);
}
.customers-icon {
    fill: currentColor;
}
/* Footer */
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--title-color);
    display: flex;
}
.container-footer {
    display: flex;
    align-items: baseline;
}
.container-footer-logo {
    margin-right: 120px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}
.footer-web {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    max-width: 264px;
}
.footer-text-bottom {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
    margin-bottom: 16px;
}
.footer-soc-list {
    display: flex;
    gap: 16px;
}
.footer-soc-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--logo-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-icon {
    fill: var(--text-color);
}
.footer-soc-link:hover, .footer-soc-link:focus {
    background-color: var(--footer-icon);
}
.footer-form {
    margin-left: 80px;
}
.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color);
}
.form-footer {
    display: flex;
    gap: 24px;
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid var(--white-color);
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--white-color);
}
.footer-input::placeholder {
    color: var(--white-color);
}
.footer-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--logo-color);
    border: none;
    border-radius: 4px;
}
.footer-btn:hover,
.footer-btn:focus {
    background: var(--background-color);
}
.footer-icon {
    fill: var(--white-color);
    margin-left: 16px;
}
/* Fitters */
.fitters {
    padding-top: 96px;
    padding-bottom: 120px;
}
.fitters-button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.fitters-button:hover, .fitters-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    background-color: var(--background-color);
    color: var(--white-color);
    border: 1px solid transparent;
}
.fitters-button {
    background-color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--btn-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fitters-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; 
}
.fitters-item {
    width: calc((100% - 48px) / 3);
}
.fitters-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fitters-link:focus, .fitters-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.fitters-link:focus .fitters-cover-text, .fitters-link:hover .fitters-cover-text {
    transform: translateY(0);
}
.app {
    padding: 32px 16px;
    border: 1px solid var(--btn-color);
    border-top: none;
}
.fitters-text-top {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.fitters-text-bottom {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--adress-color);
}
.fitters-cover-text {
    padding: 40px 32px;
    position: absolute;
    top: 0;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--logo-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fitters-cover-wrap {
    position: relative;
    overflow: hidden;    
}
/* Modal */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 408px;
    min-height: 584px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal-icon {
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon:hover, .modal-icon:focus {
    fill: var(--white-color);
}
.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    background-color: var(--btn-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
    background-color: var(--background-color);
    border: none;
}
.modal-close:focus .modal-icon,.modal-close:hover .modal-icon {
    fill: var(--white-color);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
/* Form */
.modal-field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-color);
    margin-bottom: 8px;
}
.input-label {
    display: block;
    margin-bottom: 4px;
}
.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
}
.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: var(--logo-color);
}
.modal-input:focus + .form-icon {
    fill: var(--logo-color);
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrap {
    position: relative;
}
.modal-comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-color);
    display: block;
    margin-bottom: 16px;
}
.user-comment {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    resize: none;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user-comment:focus {
    border-color: var(--logo-color);
}
/* Privacy Policy */
.privacy-policy {
    margin-bottom: 24px;
}
.privacy-policy-text{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--customers-color);

}
.policy-text {
    color: var(--logo-color);
}
.submit {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}
.modal-checkbox:checked + label > .submit{
    background-color: var(--background-color);
    border: none;
    fill: var(--text-color);
}
.send-btn {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    cursor: pointer;
    background-color: var(--logo-color);
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover, .send-btn:focus {
    background: var(--background-color);
}